body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.flex {
  display: flex;
}

.User {
  margin: auto;
}
.profile-photo {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.profile-photo.active {
  width: 400px;
  height: 400px;
}

.indicators {
  font-size: 100px;
  margin: auto;
  cursor: pointer;
}
